html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f3f0;;
  color: #333;
  line-height: 1.6;
}

#titulo-tela {
  padding: 60px 20px 30px;
  text-align: center;
  margin-top: 110px; 
}

.titulo-principal h1 {
  font-size: 45px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 10px;
}

.titulo-principal img{
  width: 900px;
  height: auto;
}

.titulo-principal h3 {
  font-size: 20px;
  font-weight: 400;
  color: #444;
}

#cards-top-mundo,
#mulheres-referencias,
#brasil-djs {
  padding: 40px 0 60px;
  width: 90%;
  margin: 0 auto;
}

.titulo-secao {
  text-align: center;

}

.titulo-secao img {
  margin-top: 0px;
  width: 700px;
  height: auto;
  display: inline-block;
  padding-bottom: 6px;
}


#brasil-djs{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 60px;
}

.titulo-brasil img{
  width: 550px !important;
  height: auto;
}

.titulo-brasil h3 {
  font-size: 30px;
  font-weight: 400;
  color: #444;
  margin-top: 10px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card-dj {
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: transform 0.25s ease;
  cursor: default;
}

.card-dj:hover {
  transform: translateY(-5px);
}

.card-dj img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  aspect-ratio: 4/3;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.card-dj:hover img {
  transform: scale(1.03);
}

.card-dj p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
   text-align: left;
}

.bloco-dj {
  background: #f9f9f7;
  border: 0.5px solid #ddddd5;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
  transition: box-shadow 0.2s ease;
}
.bloco-dj:hover {
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
}

.bloco-dj .grid-3 {
  overflow: hidden;
  border-radius: 12px;
}

.bloco-dj .grid-3 img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  aspect-ratio: 4/3;
  transition: transform 0.3s ease;
}

.bloco-dj .grid-3 img:hover {
  transform: scale(1.04);
}

.descricao-dj {
  text-align: left;
  max-width: 100%;
  border-left: 3px solid #1a3d28;
  padding-left: 16px;
  margin-top: 20px;
  color: #444;
}

.badge-dj {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  background: #1a3d28;
  color: #fff;
  border-radius: 20px;
  padding: 4px 14px;
  margin-bottom: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}